<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

    <div class="category">
        <h1>Review categories</h1>
        <h2>Beaches</h2>
        <h4><a href="Beach1" target="_blank"> Beach1</a></h4>
        <h4><a href="Beach2" target="_blank"> Beach2</a></h4>
        <h4><a href="Beach3" target="_blank"> Beach3</a></h4>
    </div>

</body>
</html>